:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--primeiro); 
  font-family: 'Embed Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primeiro:rgb(216, 165, 255);
  --segundo: #f3c7ff;
  --terceiro: rgb(215, 165, 255); 
}